::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--background-color);
}

input[type="date"] {
    color-scheme: light;
}

.dark input[type="date"] {
    color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: .7;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}