@import "tailwindcss";

:root {
  --text-color: #49494b;
  --background-color: #f9f9fb;
  --primary-color: #005c9e;
  --secondary-color: #898391;
  --accent-color: #1f8fff;
}

.dark {
  --text-color: #b4b4b6;
  --background-color: #040406;
  --primary-color: #61bdff;
  --secondary-color: #746e7c;
  --accent-color: #0070e0;
}

@theme {
  --color-text-color: var(--text-color);
  --color-background-color: var(--background-color);
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-accent-color: var(--accent-color);
}