@import "tailwindcss";

:root {
  --text-color: #1F1F1F;
  --background-color: #EDEDED;
  --primary-color: #FFFFFF;
  --secondary-color: #B9BABA;
  --accent-color: #5BADF6;
  --button-color: #62a1ee;
  --error-color: #da4a4aee;
}

.dark {
  --text-color: #E0E0E0;
  --background-color: #121212;
  --primary-color: #212121;
  --secondary-color: #464545;
  --accent-color: #5BADF6;
  --button-color: #89B4EA;
  --error-color: #da4a4aee;
}

@theme {
  --color-text-color: var(--text-color);
  --color-background-color: var(--background-color);
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-accent-color: var(--accent-color);
  --color-button-color: var(--button-color);
  --color-error-color: var(--error-color);
}